#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', 'list.' + type.name}</h2>
    
    <div id="old">
	<div id="crudListTable">
		#{crud.table fields:['lastName', 'login', 'password', 'administrator', 'peage', 'Sup']}
			#{crud.custom 'lastName'}
				<a href="@{Users.show(object.id)}">${object.toString()}</a>
			#{/crud.custom}
			#{crud.custom 'password'}
				***
			#{/crud.custom}
			#{crud.custom 'Sup'}
				#{if object.ndfs.isEmpty()}
					#{form @delete(object.id)}
						<p class="center"><input type="submit" class="crudListDelete" value="&{'common.delete'}" /></p>
					#{/form}
				#{/if}
			#{/crud.custom}
		#{/crud.table}
	</div>
	
	<p id="crudListAdd">
		<a href="@{blank()}">&{'add.' + type.modelName}</a>
	</p>
</div>
</div>
